@charset "UTF-8";
/********************************
 * 青软业务
 ******************************** */

.businessWrapper{
    .tabs{width:750px;}
    //高校合作
    .school{
        .school-msg{
            background:$bg-gray;padding-bottom:30px;
            .school-nav{
                padding:10px 0;
                li{
                    width:210px;height:100px;float:left;position:relative;overflow:hidden;cursor:pointer;
                    p{line-height:30px;text-align:center;@include fontSize(16);font-weight:bold;}
                    .school-icon{
                        width:94px;height:70px;margin:0 auto;background:$bg-gray;position:relative;z-index:2;
                        .nav-circle{width:14px;height:14px;border:2px solid $gray-light;border-radius:50%;position:absolute;left:50%;bottom:26px;margin-left:-9px;display:block;}
                        .imgBox{
                            width:66px;height:66px;overflow:hidden;border:2px solid $blue;border-radius:50%;position:absolute;left:50%;bottom:0;margin-left:-35px;display:none;
                            img{width:100%;height:100%;}
                        }
                    }
                    &:before,&:after{content:"";display:block;width:50%;height:1px;background:$gray-light;position:absolute;bottom:35px;}
                    &:before{left:0;}
                    &:after{right:0;}
                    &:first-child:before{display:none;}
                    &:last-child:after{display:none;}
                    &.active{
                        color:$blue;
                        .school-icon{
                            .nav-circle{display:none;}
                            .imgBox{
                                display:block;
                            }
                        }
                    }
                }
            }
            .school-list{
                width:100%;overflow:hidden;padding:10px 0;
                li{
                    width:100%;display:none;
                    .school-info{
                        display:table-cell;width:40%;height:100%;padding:20px 30px;background:$blue;color:#fff;@include fontSize(18);box-sizing:border-box;vertical-align: middle;
                    }
                    .school-letter{
                        display:table-cell;width:60%;height:100%;padding:20px 15px;background:#fff;@include fontSize(14);box-sizing:border-box;position:relative;
                        &:before{content:"";display:block;width:0;height:0;border-right:8px solid #fff;border-top:6px solid transparent;border-bottom:6px solid transparent;position:absolute;top:50%;left:-8px;transform:translateY(-50%);}
                        &:after{content:"";display:block;width:0;height:0;border-right:8px solid $blue;border-bottom:8px solid $blue;border-top:8px solid transparent;border-left:8px solid transparent;position:absolute;bottom:0;right:0;}
                    }
                    &.active{display:table;}
                }
            }
        }
        .job-msg{
            .divide{width:$width-content;border:0;border-top:1px dashed $border-color;margin:10px auto;}
            .job-classify{
                float:left;position:relative;width:88px;padding-right:12px;line-height:50px;@include fontSize(20);
                &:after{content:"";display:block;width:0;height:0;border-left:6px solid $blue;border-top:6px solid transparent;border-bottom:6px solid transparent;position:absolute;top:19px;right:0;}
            }
            .job-elite{float:left;width:800px;margin-left:50px;}
            .elite-list{
                width:100%;height:320px;position:relative;
                li{
                    width:100%;height:100%;padding-top:65px;position:absolute;top:0;left:0;display:none;box-sizing:border-box;
                    &:first-child{display:block;}
                    .elite-msg{
                        border:4px solid $blue;padding-left:310px;padding-right:20px;
                        p{color:$dark;}
                        .msg-name{@include fontSize(24);padding:25px 0;}
                    }
                    .elite-intro{@include fontSize(14);padding:20px 0 5px 310px;}
                    .elite-pic{
                        width:210px;height:305px;position:absolute;top:15px;left:55px;background:#cfc;
                        img{width:100%;height:100%;}
                    }
                }
            }
            .elite-nav{
                padding:10px 0;margin-left:110px;
                li{
                    float:left;width:8px;height:8px;margin:0 5px;border:1px solid $border-color;border-radius:50%;cursor:pointer;
                    &.active{background:$blue;border:1px solid $blue;}
                }
            }
            .list-arrow{
                display:block;width:45px;height:25px;text-align:center;line-height:25px;color:#fff;background:$blue;float:left;margin-top:12px;
                &.disabled{background:$disabled;cursor:default;}
                &.list-prev{border-right:1px solid $disabled;}
            }
            .job-star{padding-bottom:30px;width:100%;height:230px;position:relative;}
            .star-list{
                width:100%;display:none;position:absolute;top:0;left:0;
                &:first-child{display:block;}
                li{
                    float:left;width:249px;margin-left:18px;
                    .imgBox{
                        width:100%;height:180px;
                        img{width:100%;height:100%;}
                    }
                    p{padding:10px 0;text-align:center;@include fontSize(16);}
                    &:first-child{margin-left:0;}
                }
            }
        }
        .stu-msg{
            background:$bg-gray;padding-bottom:50px;overflow:hidden;
            .stu-evaluate{
                margin-top:3px;background:#fff;overflow:auto;
            }

        }
    }
    //企业合作
    .company{
        .company-list{
            overflow:hidden;
            li{
                float:left;width:314px;height:440px;margin-left:54px;margin-top:120px;padding-top:60px;position:relative;background:$bg-gray;box-sizing:border-box;
                &:nth-child(3n+1){margin-left:0;}
                .company-icon{
                    width:150px;height:150px;border:4px solid $border-color;border-radius:50%;overflow:hidden;position:absolute;top:-90px;left:50%;margin-left:-75px;
                    img{width:100%;height:100%;}
                }
                h4{@include fontSize(16);padding:10px 60px;text-align:center;line-height:1.5em;}
                p{padding:10px 10px 0;}
                .company-evaluate{position:absolute;bottom:0;left:0;padding-top:35px;overflow:hidden;}
                .evaluate-box{
                    color:#fff;padding:15px 0 25px;background:#4a5561;position:relative;
                    h5{width:104px;height:25px;line-height:25px;text-align:center;@include fontSize(16);position:absolute;top:-25px;left:50%;margin-left:-52px;background:#4a5561;}
                    p{padding:0 10px;}
                    .evaluate-content{height:6em;max-height:300px;overflow:hidden;transition:all .4s ease;}
                    .evaluate-person{width:100%;height:20px;padding-right:10px;text-align:right;position:absolute;bottom:0;left:0;z-index:2;box-sizing:border-box;box-shadow:0 -20px 20px #4a5561;}
                    &:hover{
                        box-shadow:0 -1px 15px #4a5561;
                        h5{box-shadow:0 -1px 15px #4a5561;}
                        .evaluate-content{height:auto;overflow:auto;}
                        .evaluate-person{box-shadow:none;}
                    }
                }
            }
        }
    }
    //平台支撑
    .platform{
        .msg-title p{@include fontSize(16);transform:translateY(10px);}
        .platform-list{
            width:1000px;margin:0 auto;padding:60px 0;
            img{width:100%;}
        }
    }
}