@charset "utf-8";
/****************************************************************************************************
*  首页
****************************************************************************************************/

.banner{
    height:500px;width:100%;min-width:$width-wrapper;position:relative;overflow:hidden;
    .banner-list{
        width:1000%;height:100%;position:relative;
        li{
            float:left;width:100%;height:100%;min-width:$width-wrapper;
            img{width:100%;height:100%;}
            //&:nth-child(2n){background:#cfc;}
            //&:nth-child(2n+1){background:#ccf;}
        }
    }
    .banner-arrow{
        display:block;width:50px;height:100px;position:absolute;top:50%;margin-top:-50px;z-index:4;transition:all .2s ease;
        .arrow{
            width:22px;height:42px;position:absolute;top:29px;left:14px;
            polyline{fill:none;stroke:#fff;}
        }
        &:hover{background-color:rgba(48,142,215,.8) !important;}
        &.banner-prev{left:calc((100vw - 1250px)/2);}
        &.banner-next{right:calc((100vw - 1250px)/2);}
    }
    .banner-btn{
        position:absolute;bottom:16px;z-index:4;width:100%;text-align:center;
        a{
            display:inline-block;height:16px;width:16px;background:#ccc;color:#fff;margin:3px;z-index:3;text-align:center;line-height:16px;@include fontSize(10);
            &.active{background:red;}
        }
    }
    &:hover{
        .banner-arrow{background-color:rgba(94,94,94,.7);}
    }
}

.homeWrapper{
    overflow:hidden;
    .notice{
        height:40px;margin:10px auto;background:#fff;overflow:hidden;
        ul{
            width:1150px;position:relative;top:0;
            li{width:100%;height:40px;line-height:40px;@include fontSize(14);}
        }
        .notice-arrow{
            width:10px;height:20px;position:absolute;right:30px;
            .arrow{
                width:100%;height:100%;margin-top:6px;
                polyline{fill:none;stroke:$border-color;}
            }
            &.notice-prev{top:0;}
            &.notice-next{bottom:0;}
        }
    }
    .business{
        @include background("../images/home-business.png",transparent,100% 100%);
        .business-list{
            padding:20px 0;
            li{
                width:400px;margin-left:25px;float:left;
                .imgBox{
                    width:100%;height:225px;
                    img{width:100%;height:100%;}
                }
                a{display:block;padding:20px 0;@include fontSize(20);text-align:center;}
                &:first-child{margin-left:0;}
            }
        }
    }
    .news{
        padding:50px 0;
        .notice-news{
            border:1px solid $border-color;
            li{text-indent:2em;}
        }
        .news-list{
            padding:20px 0;
            li{
                width:290px;margin-left:30px;float:left;
                &:first-child{margin-left:0;}
                .imgBox{
                    width:100%;height:181px;
                    img{width:100%;height:100%;}
                }
                h4{
                    padding-top:10px;line-height:40px;@include fontSize(24);color:$dark;
                    span{display:inline-block;border-bottom:2px solid $blue;}
                }
                h5{@include fontSize(16);color:$dark;padding:15px 0 20px 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
                p{@include fontSize(14);margin-bottom:20px;height:3em;overflow:hidden;}
                .news-more{
                    height:20px;line-height:20px;border:1px solid $border-color;padding:8px 35px 8px 10px;@include fontSize(14);color:$dark;position:relative;
                    .arrow{
                        width:17px;height:14px;position:absolute;top:8px;right:10px;
                        line{stroke:$dark;}
                        polyline{fill:none;stroke:$dark;}
                    }
                }
            }
        }
    }
}

.structureWrapper{
    width:$width-wrapper;margin:0 auto;
    dl{padding:40px 260px;}
    dt{
        float:left;width:100%;padding:20px 0 10px 0;border-bottom:1px solid $border-color;
        a{@include fontSize(20);color:$blue;}
    }
    dd{
        float:left;padding:10px 15px 10px 0;
        a{@include fontSize(14);}
    }
}