@charset "UTF-8";


$default-font: 'Microsoft Yahei','sans-serif';

/*颜色*/
$blue:#2265b3;
$blue-light:#8acdf7;
$content:#666;
$dark:#333;
$orange:#f1b000;
$disabled:#ccc;
$gray-light:#999;

$bg-gray:#f0f4f7;

$border-color:#eaeaea;

/*尺寸*/
$width-wrapper:1250px;
$width-content:1050px;
