@charset "utf-8";
.pagesWrapper{}
.pages {
	margin:20px;
    height:40px;
  text-align: center;
}
.pages .paginationWrapper {
  overflow: hidden;
 /* width:300px;
  position: relative;
  left: 50%;
  margin-left: -150px;*/
}
.pages .paginationWrapper .pagination {
  height: 40px;
  text-align: center;
  font-family: \u5b8b\u4f53,Arial;
  position: relative;
  min-width: 110px;
  max-width: 300px;
  margin: 0 auto;
  display: inline-block;
}
.pages .paginationWrapper .pagination a,
.pages .paginationWrapper .pagination span {
  float: left;
  display: block;
  padding: 0 13px;
  height:40px;
  line-height:38px;
  border: 1px solid #e6e6e6;
  border-right: none;
  background: #f6f6f6;
  color: #666666;
  font-family: \u5b8b\u4f53,Arial;
  font-size: 14px;
  cursor: pointer;
  box-sizing:border-box;
}
.pages .paginationWrapper .pagination .current {
  background: #2265B3;
  color: #fff;
  border:1px solid #2265B3;
}
.pages .paginationWrapper .pagination .prev,
.pages .paginationWrapper .pagination .next {
  float: left;
  border: 1px solid #e6e6e6;
  background: #f6f6f6;
  color: #666666;
  cursor: pointer;
}
.pages .paginationWrapper .pagination .prev i,
.pages .paginationWrapper .pagination .next i {
  display: none;
  width: 4px;
  height: 11px;
  margin-right: 5px;
  background: url(../images/icon.fw.png) no-repeat;
}
.pages .paginationWrapper .pagination .prev {
  border-right: none;
}
.pages .paginationWrapper .pagination .prev i {
  background-position: -144px -1px;
  *background-position: -144px -4px;
}
.pages .paginationWrapper .pagination .next i {
  background-position: -156px -1px;
  *background-position: -156px -4px;
}
.pages .paginationWrapper .pagination .pagination-break {
  border: none;
  border-left: 1px solid #e6e6e6;
  background: none;
  cursor: default;
}
.pages .searchPage {
  float: right;
  height:40px;
  line-height:40px;
}
.pages .searchPage .page-sum {
  padding: 0 13px;
  color: #999999;
  font-family: \u5b8b\u4f53,Arial;
  font-size: 14px;
}
.pages .searchPage .page-go {
  padding: 8px 0;
  height:40px;
  line-height:40px;
  color: #999999;
  font-family: \u5b8b\u4f53,Arial;
  font-size: 14px;
}
.pages .searchPage .page-go input {
  width: 60px;
  height:40px;
  line-height:38px;
  text-align:center;
  margin: 0 5px;
  border: 1px solid #e4e4e4;
}
.pages .searchPage .page-btn {
  display:block;
  float:right;
  margin-left: 5px;
  padding: 0 8px;
  height:40px;
  line-height:40px;
  background: #2265B3;
  border-radius: 2px;
  color: #ffffff;
  font-family: Arial, 'Microsoft YaHei';
  font-size: 14px;
  text-decoration: none;
}
